$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

// ligatured operators ≥ ≤

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/animate";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

body {
  @include media("<desktop") {
    font-size: 14px;
  }

  @include media("<phone") {
    font-size: 13px;
  }
}

#wrapper {
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 40px);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 3px 5px 15px rgba($base-blue, 0.4);
  transition: 0.3s box-shadow;
}
main {
  flex-grow: 1;
  order: 2;
  padding: 25px 45px;
  height: 100%;
}

.contacts {
  background: $base-blue;
  width: 370px;
  flex-shrink: 0;
  padding: 0 45px 20px;
  color: #fff;
  height: 100%;

  a {
    color: #fff;
  }

  .social-list {
    @extend %listreset;
    padding: 0 0 50px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    li {
      margin: 0;
    }

    .blue-hover {
      text-shadow: 0 0 0 #fff;

      &:hover {
        color: $light-blue;
      }
    }

    .tel {
      &:hover {
        color: $green;
      }
    }
  }
  .location {
    margin: 0 0 40px;
    font-size: 26px;
    line-height: 1;
  }
  ul {
    li {
      margin: 0 0 8px;
    }
  }
}

.head {
  display: flex;
  align-items: center;
  width: 100%;

  .about {
    margin-left: 7%;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    margin: 0;
  }
  .photo {
    background: #fff;
    position: relative;
    width: 410px;
    border: solid $base-blue;
    border-width: 45px 45px 45px 0;
  }
}
