$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
);

// ligatured operators ≥ ≤

@import "vendors/include-media";
@import "vendors/normalize";
@import "vendors/animate";

@import "base/variables";
@import "base/functions";
@import "base/mixins";
@import "base/helpers";
@import "base/reset";
@import "base/typography";
@import "base/forms";

body {
  @include media("<phone", "print") {
    font-size: 15px;
  }
}

#wrapper {
  overflow: hidden;
  position: relative;
  min-height: calc(100vh - 40px);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
  box-shadow: 3px 5px 15px rgba($base-blue, 0.4);
  transition: 0.3s box-shadow;

  @include media("<tablet") {
    display: block;
    margin: 0;
  }
}

.head {
  display: flex;
  align-items: center;
  width: 100%;
  @include media("<tablet") {
    padding: 0;
  }
  @include media("<phone") {
    padding: 10px;
  }

  .about {
    margin-left: 7%;
    text-transform: uppercase;
    @include media("<phone") {
      margin-left: 20px;
    }
  }

  p {
    font-size: 20px;
    margin: 0;

    @include media("<tablet") {
      font-size: 14px;
    }
    @include media("<phone") {
      font-size: 12px;
    }
  }
  .photo {
    background: #fff;
    position: relative;
    width: 405px;
    min-width: 370px;
    border: solid $base-blue;
    border-width: 40px 40px 40px 0;

    @include media("<tablet") {
      min-width: 1px;
      border-width: 0 10px 0 0;
      width: 170px;
      padding-left: 10px;
    }
    @include media("<phone") {
      width: 100px;
      border: none;
      padding: 0;
    }

    @include media("print") {
      border-width: 0;
      width: 150px;
    }
  }
}

#main {
  width: calc(100% - 370px);
  order: 2;
  padding: 25px 45px;

  @include media("<desktop") {
    padding: 25px;
  }
  @include media("<tablet") {
    width: 100%;
    border: solid $base-blue;
    border-width: 0 0 0 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  @include media("<phone") {
    border: none;
  }

  @include media("print") {
    width: 100%;
    padding: 30px 30px 0;
    border: solid $base-blue;
    border-width: 1px 0 0 1px;
  }

  .description {
    padding: 0 0 10px;
    margin: 0 0 15px;
    border-bottom: 1px solid #eee;
    p {
      margin: 0 0 10px;
    }
    .company {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      img {
        max-width: 44px;
        margin-right: 5px;
        vertical-align: middle;
      }

      a {
        font-size: 20px;
      }

      .job {
        font-size: 20px;
        @include media("<phone") {
          font-size: 18px;
        }
      }

      .date {
        width: 100%;
        font-size: 17px;
        margin: 0 0 10px;
        @include media("<phone") {
          font-size: 16px;
        }
      }
    }
  }
}

.contacts {
  font-size: 15px;
  border: 15px solid $base-blue;
  border-width: 0 15px;
  background: $base-blue;
  width: 370px;
  flex-shrink: 0;
  padding: 0 30px 35px;
  color: #fff;
  height: 100%;
  @include media("<tablet") {
    width: 100%;
    padding: 20px 15px;
  }
  @include media("<phone") {
    padding: 20px 15px;
    border: none;
  }

  @include media("print") {
    width: 100%;
    color: $base-blue;
    padding-top: 30px;
    padding-bottom: 0;
    border-width: 0 0 0 1px;
    order: 3;

    a {
      color: $base-blue;
    }
  }

  a {
    color: #fff;
  }

  .social-list {
    @extend %listreset;
    padding: 0 0 30px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    max-width: 280px;

    @include media("<phone") {
      padding: 8px 0 26px;
    }

    li {
      margin: 0;
    }

    .blue-hover {
      text-shadow: 0 0 0 #fff;

      &:hover {
        color: $light-blue;
      }
    }

    .tel {
      &:hover {
        color: $green;
      }
    }

    .for_print {
      display: none;
    }
    @include media("print") {
      display: flex;
      max-width: none;
      font-size: 18px;
      justify-content: space-around;

      a {
        color: $base-blue !important;
      }
      i {
        display: none;
      }
      .fa-phone,
      .fa-skype,
      .fa-at {
        margin-right: 5px;
        display: inline-block;
      }
      .for_print {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .location {
    font-size: 26px;
    line-height: 1;
    i {
      font-size: 20px;
    }
  }
  ul {
    @include media("print") {
      display: flex;
      flex-wrap: wrap;
    }
    @include media("<tablet") {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      margin: 0 0 8px;

      @include media("print") {
        padding: 0 25px 0 0;
      }
      @include media("<tablet") {
        padding: 0 25px 0 0;
      }
    }
  }
}
